In [ ]:
#to print the square of number in the list given if it is greater than 50. 
li=[1,35,54,23,2,7,5]
[i*i for i in li if i**2>50 ]

[1225, 2916, 529]

In [ ]:
#for a given list if value is grater 5 then print hi otherwise bye
li=[1,35,54,23,2,7,5]
["hi" if(i>5) else "bye"  for i in li]

['bye', 'hi', 'hi', 'hi', 'bye', 'hi', 'bye']

In [ ]:
#if x^2 <= 50 , execute 27*x for values 1 to 20
[27*x for x in range(1,21) if x**2<=50]

[27, 54, 81, 108, 135, 162, 189]

In [ ]:
# print even number in for values 1 to 20
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# find all numbers that can be divided by 2 and 5 in some range
[i for i  in range(1,101) if(i%2==0) and (i%5==0)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#find all numbers that if 3 is in that digit
[i for i in range(1,101) if '3' in str(i) ]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [ ]:
s='i love cs and co'
#count the number of space
li = [ "1" for i in s if(i==" ")]
print(len(li))

4

In [ ]:
#count the constant 
s='i love cs and co'
li=[i for i in s if i not in 'a,i,e,o,u'' ']
print(len(li))

7